doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css')
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css')
  body
    .logs(id='logs-container')
    button(id='return') Return to main page
    script(type='text/javascript' src='logs.jsx')
