doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-sm.bg-light.fixed-top
      .container
        ul.navbar-nav.mr-auto(style='width: 100%; padding: 10px 10px 10px 10px')
          li.nav-item(id='go-home' style='width: 25%; text-align: center') Home
          li.nav-item(id='view-logs' style='width: 25%; text-align: center') Audit Logs
          li.nav-item(id='register-user' style='width: 25%; text-align: center') Register User
          li.nav-item(id='signout-button' style='width: 25%; text-align: center') Sign Out
    .container(style='padding-top: 100px')
      .row
        .col-md-12.col-sm-12.col-xs-12.center-block.text-center(style='padding: 20px 20px 20px 20px')
          h1 Welcome to AuditChain
    script(type='text/javascript' src='main.js')
