doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
  body
    .username
      span Temporary Username: 
      span(id='temp-username')
    .password
      span Temporary Password: 
      span(id='temp-pwd')
    button(id='return') Return to main page
    button(id='register-another') Register another user
    script(type='text/javascript' src='registration-success.js')
